<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Course Assignment</a>
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/task01" routerLinkActive="active">Task 01</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/task02" routerLinkActive="active">Task 02</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/task03" routerLinkActive="active">Task 03</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/task04" routerLinkActive="active">Task 04</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/task05" routerLinkActive="active">Task 05</a>
        </li>
      </ul>
    </div>
  </nav>