<p>
   1) Create three new components: Game Control, Odd and Even.<br>
   2) The Game Control component should have buttons to start and stop the game.<br>
   3) When starting the game, an event (holding a increment number) should get emitted each second (ref=set Interval).<br>
   4) The event should be listenable from outside the component.<br>
   5) The event should be listenable from outside the component.<br>
   6) When stopping the game, no more events should get emitted (clear Interval (ref)).<br>
   7) A new Odd component should get created for every odd number emitted, the same should happen for the Even component (on even number).<br>
   8) Simply output Odd-Number or Even -number in the two components (On increment of number check the number whether its odd or even number and create Array of value and write it in template using *ngFor).<br>
</p>
<div class="row">
    <app-game></app-game>
</div>

