<p>
    1) Add input fields which update a property 'username' via two-way binding.<br>
    2) Output the username property via string interpolation (the paragraph below the input).<br>
    3) Add a button which may be clicked only if username is not an empty string.<br>
    4) Upon clicking the button, the username should be reset to empty string.<br>
 </p>
<div class="row">
    <div class="col-md-5">
        <label for="name">Username</label>
        <input type="text" 
        id="name" 
        class="form-control"
        [(ngModel)]="username"
        #nameInput
        >
    </div>
</div>
<br>
<p *ngIf="username !==''">Displaying text by String Interpolation: {{ username }}</p>
<div class="row">
    <div class="col-sm-1">
        <button class="btn btn-success" [disabled]="username === ''" type="button" (click)="onSubmit()">Submit</button>
    </div>
    <div class="col-sm-3">
        <button class="btn btn-danger" type="button" (click)="onReset()">Reset</button>
    </div>
</div>
