<p>
    1) Create two components called Active Users and Inactive users.<br>
    2) Display list of Active users with link next to every user 'Set to inactive' on click of inactive link user may be added from active user list to Inactive user list.<br>
    3) Display List of Inactive users with link next to every user 'Set to Active' on click on set active link user need to be added to list of active users.<br>
    4) Create a User Service to manage the swapping between users between two components.<br>
 </p>


 

 

<div class="row">
    <div class="col-md-12">
        <app-user></app-user>
    </div>
    
</div>
